.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

app-menu {
  width: 200px; /* Ancho fijo para el menú lateral */
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

